smooks-cartridges/rules/src/main/resources/META-INF/xsd/smooks/rules-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.milyn.org/xsd/smooks/rules-1.0.xsd"
           xmlns:smooks-rules="http://www.milyn.org/xsd/smooks/rules-1.0.xsd"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Rule Bases Configuration</xs:documentation>
    </xs:annotation>
    
    <xs:element name="ruleBases" substitutionGroup="smooks:abstract-resource-config">
     <xs:complexType>
        <xs:complexContent>
            <xs:extension base="smooks:element-visitor">
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element name="ruleBase" type="smooks-rules:ruleBase"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
     </xs:complexType>
    </xs:element>

     <xs:complexType name="ruleBase">
        <xs:complexContent>
            <xs:extension base="smooks:element-visitor">
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The name that identifies this rule. This name will be used in Smooks configurations to refer to 
                            this rule.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The file containing the rules. The meaning of this attribute is Provier dependant. For example, a 
                            Regular Expression Provider might allow a simple regex here so the meaning.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="provider" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The fully qualifed class name of the Rules Provider. This could be a concrete implementation
                            of the org.smooks.validation.RuleProvider.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>
    
</xs:schema>