smooks-cartridges/validation/src/main/resources/META-INF/xsd/smooks/validation-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://www.smooks.org/xsd/smooks/validation-1.1.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
           xmlns:smooks-validation="https://www.smooks.org/xsd/smooks/validation-1.1.xsd">

    <xs:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Validation Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="rule" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
    		 <xs:documentation xml:lang="en">
    		 </xs:documentation>
    	</xs:annotation>
    	<xs:complexType>
        	<xs:complexContent>
                <xs:extension base="smooks:element-visitor">
                <xs:attribute name="executeOn" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The fragment that this validator should operate on. 
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="executeOnNS" type="xs:anyURI">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Namespace for the "executeOn" attribute.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The name of the rule defined in Smooks. This name matches the ruleBase elements
                            name attribute and tell Smooks to use that rule for validation.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="onFail" type="smooks-validation:onFail" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Validation failure categorization.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                </xs:extension>
        	</xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="onFail">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"></xs:enumeration>
            <xs:enumeration value="WARN"></xs:enumeration>
            <xs:enumeration value="ERROR"></xs:enumeration>
            <xs:enumeration value="FATAL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>