smooks-cartridges/edi/src/main/resources/META-INF/xsd/smooks/edi-1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd" xmlns:smooks-edi="http://www.milyn.org/xsd/smooks/edi-1.4.xsd" targetNamespace="http://www.milyn.org/xsd/smooks/edi-1.4.xsd" elementFormDefault="qualified">
	<xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">Smooks EDI Reader Configuration</xs:documentation>
	</xs:annotation>
	<xs:element name="reader" type="smooks-edi:reader" substitutionGroup="smooks:abstract-reader">
		<xs:annotation>
			<xs:documentation xml:lang="en">
    		 	EDI Reader Configuration
    		 	The EDI reader reads and validates a EDI stream and converts it to SAX events that Smooks
    		 	can process.
    		 	A mapping is used to map the EDI segments and fields to a SAX event stream.
    		 	For more information about the mapping model take a look at the
    		 	"http://www.milyn.org/schema/edi-message-mapping-1.0.xsd" schema.
    		 </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="reader">
		<xs:annotation>
			<xs:documentation xml:lang="en">EDI Reader</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="smooks:abstract-reader">
				<xs:attribute name="mappingModel" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">
			    		 	The URI of the EDI mapping model file of the EDI model.
			    		 	For more information about the mapping model take a
			    		 	look at the "http://www.milyn.org/schema/edi-message-mapping-1.0.xsd"
			    		 	schema.
			    		 </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ignoreNewLines" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">
						    Ignore new line characters. Default "false".
						    <p/>
						    EDI messages are sometimes formatted with new line characters for human readability.
						    In that case, these characters are not part of the message and should be ignored.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="validate" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies whether to perform validation or not when parsing a value-node with a specific type. Default is false.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
