smooks-cartridges/edi/src/main/resources/META-INF/xsd/smooks/unedifact-1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd" xmlns:smooks-edi="http://www.milyn.org/xsd/smooks/unedifact-1.4.xsd" targetNamespace="http://www.milyn.org/xsd/smooks/unedifact-1.4.xsd" elementFormDefault="qualified">
	<xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">Smooks UN/EDIFACT Reader Configuration</xs:documentation>
	</xs:annotation>
	<xs:element name="reader" type="smooks-edi:reader" substitutionGroup="smooks:abstract-reader">
		<xs:annotation>
			<xs:documentation xml:lang="en">
    		 	UN/EDIFACT Reader Configuration.
    		 	<p/>
    		 	Handles reading of a UN/EDIFACT message exchange, including the UN/EDIFACT control segments (UNA, UNB etc).
    		 </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="reader">
		<xs:annotation>
			<xs:documentation xml:lang="en">UN/EDIFACT Reader</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="smooks:abstract-reader">
				<xs:attribute name="mappingModel" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">
			    		 	Comma separated list of URIs of the EDI mapping model files.
			    		 	<p/>
			    		 	Also supports specification of a ZIP/Jar file containing a collection
			    		 	of mapping model files. 
			    		 </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ignoreNewLines" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">
						    Ignore new line characters. Default "false".
						    <p/>
						    EDI messages are sometimes formatted with new line characters for human readability.
						    In that case, these characters are not part of the message and should be ignored.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="validate" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies whether to perform validation or not when parsing a value-node with a specific type. Default is false.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
