core/src/main/resources/META-INF/xsd/smooks/smooks-core-1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://www.smooks.org/xsd/smooks/smooks-core-1.5.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
           xmlns:smooks-core="https://www.smooks.org/xsd/smooks/smooks-core-1.5.xsd">

    <xs:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Core Settings Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="filterSettings" type="smooks-core:filterSettings" substitutionGroup="smooks:abstract-resource-config" >
    	<xs:annotation>
    		<xs:documentation>Smooks Filter Settings Settings</xs:documentation>
    	</xs:annotation>
    </xs:element>
    
    <xs:element name="exports" type="smooks-core:exports" substitutionGroup="smooks:abstract-resource-config" >
    	<xs:annotation>
    		<xs:documentation>Smooks Exports Settings</xs:documentation>
    	</xs:annotation>
    </xs:element>

    <xs:element name="namespaces" type="smooks-core:namespaces" substitutionGroup="smooks:abstract-resource-config">
        <xs:annotation>
            <xs:documentation>Namespace Declarations</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="terminate" type="smooks-core:terminate" substitutionGroup="smooks:abstract-resource-config" >
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Terminate filtering on visiting the targeted fragment (before/after - default after).
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>

    <xs:element name="setElementData" type="smooks-core:setElementData" substitutionGroup="smooks:abstract-resource-config" >
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Set data (name and/or attribites) on the targeted element.
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>

    <xs:element name="remove" type="smooks-core:remove" substitutionGroup="smooks:abstract-resource-config" >
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Set data (name and/or attribites) on the targeted element.
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>

    <xs:element name="removeAttribute" type="smooks-core:removeAttribute" substitutionGroup="smooks:abstract-resource-config" >
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Set data (name and/or attributes) on the targeted element.
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>

    <xs:complexType name="filterSettings">
    	<xs:complexContent>
    		<xs:extension base="smooks:abstract-resource-config">
		        <xs:attribute name="type" type="smooks-core:filterType">
			        <xs:annotation>
			            <xs:documentation>Filter Type</xs:documentation>
			        </xs:annotation>
		        </xs:attribute>
		        <xs:attribute name="defaultSerialization" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Default Serialization</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		        <xs:attribute name="terminateOnException" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Terminate Filtering on Exception</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		        <xs:attribute name="closeSource" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Close Filter Source (Stream Sources only)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		        <xs:attribute name="closeResult" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Close Filter Result (Stream Results only)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rewriteEntities" type="xs:boolean" >
                    <xs:annotation>
                        <xs:documentation>Rewrite Entities</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="readerPoolSize" type="xs:int" >
                    <xs:annotation>
                        <xs:documentation>
                        Reader Pool Size.
                        <p/>  
                        Some Reader implementations are expensive to create. Pooling them can give a
                        huge performance boost.  Assign based on your applications threading model.
                        <p/>
                        Default pool size is 0 i.e. a new Reader will be created for every message.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="filterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOM"/>
            <xs:enumeration value="SAX NG"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="exports">
        <xs:complexContent>
            <xs:extension base="smooks:abstract-resource-config">
                <xs:sequence>
                    <xs:element name="result" type="smooks-core:result" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="result">
        <xs:annotation>
            <xs:documentation xml:lang="en">Result that Smooks exports</xs:documentation>
        </xs:annotation>
        <xs:attribute name="type" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Type fully qualifed class of the type that will be produced by this Smooks configuration.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A name that can be used to identify this result type.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="extract" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This can be any string and is used when only a portion of a result should be returned. For
                    example, when you return a JavaResult you may only be interested in one bean and in this 
                    case the extract attribute would specify the beanId of that bean.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="namespaces">
        <xs:complexContent>
            <xs:extension base="smooks:abstract-resource-config">
                <xs:sequence>
                    <xs:element name="namespace" type="smooks-core:namespace" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="namespace">
        <xs:annotation>
            <xs:documentation xml:lang="en">Namespace prefix-to-uri mapping</xs:documentation>
        </xs:annotation>
        <xs:attribute name="prefix" type="xs:string" use="required" />
        <xs:attribute name="uri" type="xs:anyURI" use="required" />
    </xs:complexType>

    <xs:complexType name="terminate">
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="onElement" type="xs:string" use="required" >
					<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			The element on which the filter termination is to happen.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="terminateBefore" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
    						Terminate filtering on the visitBefore event.  Default false.
						</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:complexType name="setElementData">
        <xs:annotation>
            <xs:documentation xml:lang="en">Set element name and/or attribute data on an element.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="smooks:abstract-resource-config">
                <xs:sequence>
                    <xs:element name="attribute" type="smooks-core:attribute" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The new name for the element.  Can be a qualified name if the 'namespace' attribute is
                            configured.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="namespace" type="xs:anyURI" use="optional" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The new namespace for the element.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="onElement" type="xs:string" use="required" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The element on which to set the data.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="attribute">
        <xs:annotation>
            <xs:documentation xml:lang="en">Attribute to set on the element.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The name ot the attribute. Can be a qualified name if the 'namespace' attribute is configured.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="namespace" type="xs:anyURI" use="optional" >
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The namespace for the attribute.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The attribute value.  Can be a FreeMarker template.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="remove">
        <xs:annotation>
            <xs:documentation xml:lang="en">Remove an element.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="smooks:abstract-resource-config">
                <xs:attribute name="element" type="xs:string" use="required" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The element to be removed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="keepChildren" type="xs:boolean" use="optional" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Keep the removed element's child content.  Default is false.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="removeAttribute">
        <xs:annotation>
            <xs:documentation xml:lang="en">Remove an attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="smooks:abstract-resource-config">
                <xs:attribute name="onElement" type="xs:string" use="required" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The element on which the attribute is to be removed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The name ot the attribute. Can be a qualified name if the 'namespace' attribute is configured.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="namespace" type="xs:anyURI" use="optional" >
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The namespace for the attribute.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>