smooks-core/src/main/resources/META-INF/xsd/smooks/smooks-core-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/smooks-core-1.3.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-core="http://www.milyn.org/xsd/smooks/smooks-core-1.3.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Core Settings Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="filterSettings" type="smooks-core:filterSettings" substitutionGroup="smooks:abstract-resource-config" >
    	<xs:annotation>
    		<xs:documentation>Smooks Filter Settings Settings</xs:documentation>
    	</xs:annotation>
    </xs:element>

    <xs:element name="namespaces" type="smooks-core:namespaces" substitutionGroup="smooks:abstract-resource-config">
        <xs:annotation>
            <xs:documentation>Namespace Declarations</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="terminate" type="smooks-core:terminate" substitutionGroup="smooks:abstract-resource-config" >
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Terminate filtering on visiting the targeted fragment (before/after - default after).
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>
    
    <xs:complexType name="filterSettings">
    	<xs:complexContent>
    		<xs:extension base="smooks:abstract-resource-config">
		        <xs:attribute name="type" type="smooks-core:filterType">
			        <xs:annotation>
			            <xs:documentation>Filter Type</xs:documentation>
			        </xs:annotation>
		        </xs:attribute>
		        <xs:attribute name="defaultSerialization" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Default Serialization</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		        <xs:attribute name="terminateOnException" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Terminate Filtering on Exception</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		        <xs:attribute name="closeSource" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Close Filter Source (Stream Sources only)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		        <xs:attribute name="closeResult" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>Close Filter Result (Stream Results only)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="rewriteEntities" type="xs:boolean" >
                    <xs:annotation>
                        <xs:documentation>Rewrite Entities</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="readerPoolSize" type="xs:int" >
                    <xs:annotation>
                        <xs:documentation>
                        Reader Pool Size.
                        <p/>  
                        Some Reader implementations are expensive to create. Pooling them can give a
                        huge performance boost.  Assign based on your applications threading model.
                        <p/>
                        Default pool size is 0 i.e. a new Reader will be created for every message.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="filterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOM"></xs:enumeration>
            <xs:enumeration value="SAX"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="namespaces">
        <xs:complexContent>
            <xs:extension base="smooks:abstract-resource-config">
                <xs:sequence>
                    <xs:element name="namespace" type="smooks-core:namespace" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="namespace">
        <xs:annotation>
            <xs:documentation xml:lang="en">Namespace prefix-to-uri mapping</xs:documentation>
        </xs:annotation>
        <xs:attribute name="prefix" type="xs:string" use="required" />
        <xs:attribute name="uri" type="xs:anyURI" use="required" />
    </xs:complexType>

    <xs:complexType name="terminate">
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="onElement" type="xs:string" use="required" >
					<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			The element on which the filter termination is to happen.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="terminateBefore" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
    						Terminate filtering on the visitBefore event.  Default false.
						</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

</xs:schema>