smooks-cartridges/calc/src/main/resources/META-INF/xsd/smooks/calc-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://www.smooks.org/xsd/smooks/calc-1.2.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
           xmlns:smooks-calc="https://www.smooks.org/xsd/smooks/calc-1.2.xsd">

    <xs:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Calculation Configuration</xs:documentation>
    </xs:annotation>

	<xs:element name="counter" type="smooks-calc:counter" substitutionGroup="smooks:abstract-resource-config" >
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
				Counter configuration
				The counter can increment or decrement a value.
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>

	<xs:complexType name="counter">
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Counter
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:sequence>
    				<xs:element name="startExpression" type="xs:string" minOccurs="0" maxOccurs="1">
    					<xs:annotation>
				    		<xs:documentation xml:lang="en">
								The result of this expression is the counter start value.
								This expression is executed at the first count and every time the counter
								is reset. The expression must result in an integer or a long.
								If the startIndex attribute of the counter is set then this expression never gets
								executed.
				    		</xs:documentation>
				    	</xs:annotation>
    				</xs:element>
    				<xs:element name="amountExpression" type="xs:string"  minOccurs="0" maxOccurs="1" >
    					<xs:annotation>
				    		<xs:documentation xml:lang="en">
				    			The result of this expression is the amount the counter increments or decrements.
								This expression is executed every time the counter counts.
								The expression must result in an integer.
								If the amount attribute of the counter is set then this expression never gets
								executed.
				    		</xs:documentation>
				    	</xs:annotation>
    				</xs:element>
    				<xs:element name="resetCondition" type="xs:string"  minOccurs="0" maxOccurs="1" >
    					<xs:annotation>
				    		<xs:documentation xml:lang="en">
								When the expression is set and results in a true value then the counter is reset to
								the start index. The expression must result in a boolean.
				    		</xs:documentation>
				    	</xs:annotation>
    				</xs:element>
    			</xs:sequence>
    			<xs:attribute name="countOnElement" type="xs:string" use="required" >
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			The element on which the counter counts.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="countOnElementNS" type="xs:string" use="optional" >
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			The namespace of the countOnElement element.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="beanId" type="xs:string" use="required" >
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The beanId in which the counter value is stored. The value is always stored
							as a Long type.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="amount" type="xs:int" use="optional" >
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The amount that the counter increments or decrements the counter value.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="start" type="xs:long" use="optional">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The counter start value.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="direction" type="smooks-calc:CountDirection" use="optional" default="INCREMENT">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The direction that the counter counts. Can be INCREMENT (default) or DECREMENT.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="executeAfter" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			If the counter is executed after the element else it will execute before the element.
			    			Default is 'false'.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
	</xs:complexType>



	<xs:simpleType name="CountDirection">
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			If the counter is executed after the element else it will execute before the element.
    			Default is 'false'.
    		</xs:documentation>
    	</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCREMENT">
				<xs:annotation>
		    		<xs:documentation xml:lang="en">
		    			Count up.
		    		</xs:documentation>
		    	</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DECREMENT">
				<xs:annotation>
		    		<xs:documentation xml:lang="en">
		    			Count down.
		    		</xs:documentation>
		    	</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>