smooks-cartridges/routing/src/main/resources/META-INF/xsd/smooks/file-routing-1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://www.smooks.org/xsd/smooks/file-routing-1.3.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
           xmlns:smooks-file-routing="https://www.smooks.org/xsd/smooks/file-routing-1.3.xsd">

    <xs:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks file Routing Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="outputStream" type="smooks-file-routing:outputStream" substitutionGroup="smooks:abstract-resource-config" >
		<xs:annotation>
    		<xs:documentation xml:lang="en">
    			File output stream configuration
    			The file output stream creates and manages file output streams.
    		</xs:documentation>
    	</xs:annotation>
	</xs:element>


    <xs:complexType name="outputStream">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
    			File output stream
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:sequence>
    				<xs:element name="fileNamePattern" type="xs:string" minOccurs="1" maxOccurs="1" >
    					<xs:annotation>
			    			<xs:documentation xml:lang="en">
				    			The pattern that will be used to generate file names.
				    			The file is created in the directory defined by the 'destinationDirectoryPattern' element.
				    			Templating support is available via the FreeMarker template engine.
			    			</xs:documentation>
			    		</xs:annotation>
    				</xs:element>
    				<xs:element name="destinationDirectoryPattern" type="xs:string" minOccurs="1" maxOccurs="1" >
    					<xs:annotation>
			    			<xs:documentation xml:lang="en">
				    			The destination directory for files created by this router.
				    			Templating support is available via the FreeMarker template engine.
			    			</xs:documentation>
			    		</xs:annotation>
    				</xs:element>
    				<xs:element name="listFileNamePattern" type="xs:string" minOccurs="0" maxOccurs="1" >
    					<xs:annotation>
			    			<xs:documentation xml:lang="en">
				    			The name of the file that will contain the file names generated by this configuration.
				    			The file is created in the directory defined by the 'destinationDirectoryPattern' element.
			    			</xs:documentation>
			    		</xs:annotation>
    				</xs:element>
    				<xs:element name="highWaterMark" type="smooks-file-routing:highWaterMark" minOccurs="0" maxOccurs="1" >
    					<xs:annotation>
			    			<xs:documentation xml:lang="en">
				    			Sets the configuration for the max number of output files in the destination directory at any time.
			    			</xs:documentation>
			    		</xs:annotation>
    				</xs:element>
    				<xs:element name="closeOnCondition" type="xs:string" minOccurs="0" maxOccurs="1" >
    					<xs:annotation>
			    			<xs:documentation xml:lang="en">
				    			An MVEL expression. If it returns true then the output stream is closed on the visitAfter event
				    			else it is kept open. If the expression is not set then output stream is closed by default.
			    			</xs:documentation>
			    		</xs:annotation>
    				</xs:element>
    				<xs:element name="append" type="xs:boolean" minOccurs="0" maxOccurs="1" >
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Append tells Smooks to append to the file specified using the 'fileNamePattern' property.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
    			</xs:sequence>
    			<xs:attribute name="openOnElement" type="xs:string" use="required" >
					<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			The element on which the output stream resource should be opened. If opened, the stream will be
                            closed at the end of the same element (on the visitAfter).  This behaviour can be overridden
                            through the &lt;closeOnCondition&gt; element.  In that case, the resource is only closed
                            when the MVEL condition is met.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="openOnElementNS" type="xs:string" use="optional" >
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			The namespace of the openOnElement element.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="resourceName" type="xs:string" use="required" >
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
    						The name on which the output stream resource is referenced.
    					</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="encoding" type="xs:string" use="optional" default="UTF-8">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
    						The encoding to be used by any writers on this resource. Default is 'UTF-8'.
						</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:complexType name="highWaterMark">
        <xs:attribute name="mark" type="xs:int" use="optional" default="200" >
        	<xs:annotation>
	    		<xs:documentation xml:lang="en">
  					The max number of output files in the destination directory at any time.
				</xs:documentation>
	    	</xs:annotation>
        </xs:attribute>
    	<xs:attribute name="timeout" type="xs:int" use="optional" default="60000" >
        	<xs:annotation>
	    		<xs:documentation xml:lang="en">
  					The number of milliseconds to wait for the system to process files in the destination
  					directory so that the number of files drops below the highWaterMark.
				</xs:documentation>
	    	</xs:annotation>
        </xs:attribute>
    	<xs:attribute name="pollFrequency" type="xs:int" use="optional" default="1000" >
        	<xs:annotation>
	    		<xs:documentation xml:lang="en">
  					The number of milliseconds to wait between checks on the High Water Mark, while
  					waiting for it to drop.
				</xs:documentation>
	    	</xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>