smooks-cartridges/routing/src/main/resources/META-INF/xsd/smooks/fragment-routing-1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Milyn - Copyright (C) 2006 - 2010
  ~
  ~ This library is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License (version 2.1) as published by the Free Software
  ~ Foundation.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~
  ~ See the GNU Lesser General Public License for more details:
  ~ http://www.gnu.org/licenses/lgpl.txt
  -->

<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/fragment-routing-1.4.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-fragment-routing="http://www.milyn.org/xsd/smooks/fragment-routing-1.4.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Fragment Routing Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="serialize" type="smooks-fragment-routing:serialize" substitutionGroup="smooks:abstract-resource-config">
		<xs:annotation>
	   		<xs:documentation xml:lang="en">
	   			Fragment Serializer.
	   		</xs:documentation>
	   	</xs:annotation>
    </xs:element>

    <xs:complexType name="serialize">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
	   			Fragment Serializer.
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="fragment" type="xs:string" use="required">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The fragment to be serialized.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
    			<xs:attribute name="bindTo" type="xs:string" use="required">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The Bean Context beanID of the serialized fragment.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
   				<xs:attribute name="omitXMLDeclaration" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			Omit the XML declaration from the start of the serialized fragment.  Default false.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
   				<xs:attribute name="childContentOnly" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			Only serialize the child content of the targeted element i.e. omit the targeted element itself.  Default false.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
                <xs:attribute name="retain" type="xs:boolean" use="optional" default="false">
                 <xs:annotation>
                     <xs:documentation xml:lang="en">
                         Retain the generated bean instance after the creating fragment has been processed.  Default false.
                     </xs:documentation>
                 </xs:annotation>
             </xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
</xs:schema>