smooks-cartridges/routing/src/main/resources/META-INF/xsd/smooks/fragment-routing-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/fragment-routing-1.2.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-fragment-routing="http://www.milyn.org/xsd/smooks/fragment-routing-1.2.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Fragment Routing Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="serialize" type="smooks-fragment-routing:serialize" substitutionGroup="smooks:abstract-resource-config">
		<xs:annotation>
	   		<xs:documentation xml:lang="en">
	   			Fragment Serializer.
	   		</xs:documentation>
	   	</xs:annotation>
    </xs:element>

    <xs:complexType name="serialize">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
	   			Fragment Serializer.
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="fragment" type="xs:string" use="required">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The fragment to be serialized.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
    			<xs:attribute name="fragmentNS" type="xs:string" use="optional">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The namespace of the fragment to be serialized.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
    			<xs:attribute name="bindTo" type="xs:string" use="required">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The Bean Context beanID of the serialized fragment.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
   				<xs:attribute name="omitXMLDeclaration" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			Omit the XML declaration from the start of the serialized fragment.  Default false.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
   				<xs:attribute name="childContentOnly" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			Only serialize the child content of the targeted element i.e. omit the targeted element itself.  Default false.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
</xs:schema>