core/src/test/java/org/smooks/dtd/html32.xml.dtd

<!--
	HTML 3.2 XML DTD.
	
	Derived from the HTML 3.2 SGML DTD (http://www.w3.org/TR/REC-html32#dtd) with reference to 
	the XHTML 1.0 DTD (http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd).
	
	TODO: Someone with a better background in this sort of thing should redo.
	
	NOTE: Don't try using this DTD for validation.  We've removed a lot of the
	declarations that are used for validation.  We're just using the DTD
	to define elements and their attributes etc
-->

<!--================== Imported Names =====================================-->

<!ENTITY % Content-Type "CDATA">
    <!-- media type, as per [RFC1521] -->

<!ENTITY % HTTP-Method "GET|POST">
	<!-- as per HTTP specification -->
    
<!ENTITY % URL "CDATA">
    <!-- a Uniform Resource Identifier, see [RFC2396] -->

<!ENTITY % Number "CDATA">
    <!-- one or more digits -->

<!-- Parameter Entities -->

<!ENTITY % head.misc "(SCRIPT|STYLE|META|LINK)">

<!ENTITY % heading "(H1|H2|H3|H4|H5|H6)">

<!ENTITY % list "(UL|OL|DIR|MENU)">

<!ENTITY % preformatted "PRE">

<!--=================== Text Markup =======================================-->

<!ENTITY % font "TT|I|B|U|STRIKE|BIG|SMALL|SUB|SUP">

<!ENTITY % phrase "EM|STRONG|DFN|CODE|SAMP|KBD|VAR|CITE|NOBR">

<!ENTITY % special "A|IMG|APPLET|FONT|BASEFONT|BR|SCRIPT|MAP">

<!ENTITY % form "INPUT|SELECT|TEXTAREA">

<!-- #PCDATA not included in text entity because it seems to make the DTD invalid. -->
<!ENTITY % text "%font;|%phrase;|%special;|%form;">

<!ELEMENT TT (%text;)*>
<!ELEMENT I (%text;)*>
<!ELEMENT U (%text;)*>
<!ELEMENT STRIKE (%text;)*>
<!ELEMENT BIG (%text;)*>
<!ELEMENT SMALL (%text;)*>
<!ELEMENT SUB (%text;)*>
<!ELEMENT SUP (%text;)*>

<!ELEMENT EM (%text;)*>
<!ELEMENT STRONG (%text;)*>
<!ELEMENT DFN (%text;)*>
<!ELEMENT CODE (%text;)*>
<!ELEMENT SAMP (%text;)*>
<!ELEMENT KBD (%text;)*>
<!ELEMENT VAR (%text;)*>
<!ELEMENT CITE (%text;)*>
<!ELEMENT NOBR (%text;)*>

<!ELEMENT FONT (%text;)*>
<!ATTLIST FONT
    size    CDATA   #IMPLIED
    color   CDATA   #IMPLIED
    >

<!ELEMENT BASEFONT EMPTY>
<!ATTLIST BASEFONT
    size    CDATA   #IMPLIED
    >

<!ELEMENT BR EMPTY>
<!ATTLIST BR
  		clear (left|all|right|none) "none"
        >

<!--================== HTML content models ================================-->
<!--
    HTML has three basic content models:

        %text       character level elements and text strings
        %flow       block-like elements e.g. paragraphs and lists
        %bodytext   as %flow plus headers H1-H6 and ADDRESS
-->

<!ENTITY % block "(P | %list; | %preformatted; | DL | DIV | CENTER | BLOCKQUOTE |FORM | ISINDEX | HR | TABLE)">

<!-- %flow is used for DD and LI -->

<!ENTITY % flow "(%text; | %block;)*">


<!--=================== Document Body =====================================-->

<!ENTITY % body.content "%heading;|%text;|%block;|ADDRESS">

<!ENTITY % color "CDATA" >

<!ENTITY % body-color-attrs "
        bgcolor %color; #IMPLIED
        text %color; #IMPLIED
        link %color; #IMPLIED
        vlink %color; #IMPLIED
        alink %color; #IMPLIED
        ">

<!ELEMENT BODY (%body.content;)*>
<!ATTLIST BODY
        background %URL; #IMPLIED  
        %body-color-attrs;
        >

<!ENTITY % address.content "((%text;) | P)*">

<!ELEMENT ADDRESS %address.content;>

<!ELEMENT DIV (%body.content;)*>
<!ATTLIST DIV
        align   (left|center|right) #IMPLIED 
        >

<!-- CENTER is a shorthand for DIV with ALIGN=CENTER -->
<!ELEMENT center (%body.content;)*>

<!--================== The Anchor Element =================================-->

<!ELEMENT A (%text;)*>
<!ATTLIST A
        name    NMTOKEN   #IMPLIED
        href    %URL;    #IMPLIED
        rel     CDATA   #IMPLIED
        rev     CDATA   #IMPLIED
        title   CDATA   #IMPLIED
        >

<!--================== Client-side image maps ============================-->

<!-- These can be placed in the same document or grouped in a
     separate document although this isn't yet widely supported -->

<!ENTITY % SHAPE "(rect|circle|poly)">
<!ENTITY % COORDS "CDATA">

<!ELEMENT MAP (AREA)*>
<!ATTLIST MAP
    name    CDATA   #IMPLIED
    >

<!ELEMENT AREA EMPTY>
<!ATTLIST AREA
    shape   %SHAPE;  	"rect"
    coords  %COORDS; 	#IMPLIED
    href    %URL;    	#IMPLIED
    nohref (nohref) 	#IMPLIED
    alt     CDATA   	#REQUIRED
    >

<!--================== The LINK Element ==================================-->

<!ENTITY % Types "CDATA">
      <!-- See Internet Draft: draft-ietf-html-relrev-00.txt
           LINK has been part of HTML since the early days
           although few browsers as yet take advantage of it.

           Relationship values can be used in principle:

                a) for document specific toolbars/menus when used
                   with the LINK element in the document head:
                b) to link to a separate style sheet
                c) to make a link to a script
                d) by stylesheets to control how collections of
                   html nodes are rendered into printed documents
                e) to make a link to a printable version of this document
                   e.g. a postscript or pdf version
		-->

<!ELEMENT LINK EMPTY>
<!ATTLIST LINK
        href    %URL;    	#IMPLIED
        rel     %Types;  	#IMPLIED
        rev     %Types;  	#IMPLIED
        title   CDATA   	#IMPLIED
        >

        <!--=================== Images ============================================-->

<!ENTITY % Length "CDATA">   <!-- nn for pixels or nn% for percentage length -->
<!ENTITY % Pixels "%Number;">  <!-- integer representing length in pixels -->

<!-- Suggested widths are used for negotiating image size
     with the module responsible for painting the image.
     align=left or right cause image to float to margin
     and for subsequent text to wrap around image -->

<!ENTITY % IAlign "(top|middle|bottom|left|right)">

<!ELEMENT IMG EMPTY>  <!--  Embedded image -->
<!ATTLIST IMG
        src     %URL;  		#REQUIRED  
        alt     CDATA    	#IMPLIED   
        align   %IAlign;  	#IMPLIED   
        height  %Pixels;  	#IMPLIED   
        width   %Pixels;  	#IMPLIED   
        border  %Pixels;  	#IMPLIED   
        hspace  %Pixels;  	#IMPLIED   
        vspace  %Pixels;  	#IMPLIED   
        usemap  %URL;     	#IMPLIED   
        ismap   (ismap)  	#IMPLIED   
        >

<!-- USEMAP points to a MAP element which may be in this document
  or an external document, although the latter is not widely supported -->

<!--=================== Java APPLET tag ===================================-->
<!--
  This tag is supported by all Java enabled browsers. Applet resources
  (including their classes) are normally loaded relative to the document
  URL (or <BASE> element if it is defined). The CODEBASE attribute is used
  to change this default behavior. If the CODEBASE attribute is defined then
  it specifies a different location to find applet resources. The value
  can be an absolute URL or a relative URL. The absolute URL is used as is
  without modification and is not effected by the documents <BASE> element.
  When the codebase attribute is relative, then it is relative to the
  document URL (or <BASE> tag if defined).
-->
<!ELEMENT APPLET (PARAM | %text;)*>
<!ATTLIST APPLET
        codebase %URL;     	#IMPLIED   
        code     CDATA    	#REQUIRED  
        alt      CDATA    	#IMPLIED   
        name     NMTOKEN   	#IMPLIED   
        width    %Pixels;  	#REQUIRED  
        height   %Pixels;  	#REQUIRED  
        align    %IAlign;  	#IMPLIED   
        hspace   %Pixels;  	#IMPLIED   
        vspace   %Pixels;  	#IMPLIED   
        >

<!ELEMENT PARAM EMPTY>
<!ATTLIST PARAM
        name    NMTOKEN   #REQUIRED  
        value   CDATA     #IMPLIED   
        >

<!--
Here is an example:

    <applet codebase="applets/NervousText"
        code=NervousText.class
        width=300
        height=50>
    <param name=text value="Java is Cool!">
    <img src=sorry.gif alt="This looks better with Java support">
    </applet>
-->

<!--=================== Horizontal Rule ===================================-->

<!ELEMENT HR EMPTY>
<!ATTLIST HR
        align (left|right|center) #IMPLIED
        noshade (noshade) #IMPLIED
        size  %Pixels; #IMPLIED
        width %Length; #IMPLIED
        >
<!--=================== Paragraphs=========================================-->

<!ELEMENT P  (%text;)*>
<!ATTLIST P
        align  (left|center|right) #IMPLIED
        >

<!--=================== Headings ==========================================-->

<!--
  There are six levels of headers from H1 (the most important)
  to H6 (the least important).
-->

<!ELEMENT H1  (%text;)*>
<!ELEMENT H2  (%text;)*>
<!ELEMENT H3  (%text;)*>
<!ELEMENT H4  (%text;)*>
<!ELEMENT H5  (%text;)*>
<!ELEMENT H6  (%text;)*>

<!ENTITY % heading-attrs "
        align  (left|center|right) #IMPLIED
        ">

<!ATTLIST H1 %heading-attrs;>
<!ATTLIST H2 %heading-attrs;>
<!ATTLIST H3 %heading-attrs;>
<!ATTLIST H4 %heading-attrs;>
<!ATTLIST H5 %heading-attrs;>
<!ATTLIST H6 %heading-attrs;>

<!--=================== Preformatted Text =================================-->

<!-- excludes images and changes in font size -->

<!ENTITY % pre.exclusion "(IMG|BIG|SMALL|SUB|SUP|FONT)">

<!ELEMENT PRE (%text;)*>

<!--=================== Block-like Quotes =================================-->

<!ELEMENT BLOCKQUOTE (%body.content;)*>

<!--=================== Lists =============================================-->

<!--
    HTML 3.2 allows you to control the sequence number for ordered lists.
    You can set the sequence number with the START and VALUE attributes.
    The TYPE attribute may be used to specify the rendering of ordered
    and unordered lists.
-->

<!-- definition lists - DT for term, DD for its definition -->

<!ELEMENT DL  (DT|DD)+>
<!ATTLIST DL
        compact (compact) #IMPLIED
        >

<!ELEMENT DT (%text;)*>
<!ELEMENT DD %flow;>

<!-- Ordered lists OL, and unordered lists UL -->
<!ELEMENT OL (LI)+>
<!ELEMENT UL (LI)+>

<!--
       Numbering style
    1   arablic numbers     1, 2, 3, ...
    a   lower alpha         a, b, c, ...
    A   upper alpha         A, B, C, ...
    i   lower roman         i, ii, iii, ...
    I   upper roman         I, II, III, ...

    The style is applied to the sequence number which by default
    is reset to 1 for the first list item in an ordered list.

    This can't be expressed directly in SGML due to case folding.
-->

<!ENTITY % OLStyle "CDATA"> 	<!-- constrained to: [1|a|A|i|I] -->

<!ATTLIST OL 
        type      %OLStyle;   #IMPLIED 
        start     %Number;     #IMPLIED
        compact  (compact)   #IMPLIED
        >

<!-- bullet styles -->

<!ENTITY % ULStyle "disc|square|circle">

<!ATTLIST UL 
        type    (%ULStyle;)   #IMPLIED
        compact (compact)    #IMPLIED
        >

<!ELEMENT DIR (LI)+>
<!ELEMENT MENU (LI)+>
<!ATTLIST DIR
        compact (compact) #IMPLIED
        >
<!ATTLIST MENU
        compact (compact) #IMPLIED
        >

<!-- <DIR>              Directory list                  -->
<!-- <DIR COMPACT>      Compact list style              -->
<!-- <MENU>             Menu list                       -->
<!-- <MENU COMPACT>     Compact list style              -->

<!-- The type attribute can be used to change the bullet style
     in unordered lists and the numbering style in ordered lists -->

<!ENTITY % LIStyle "CDATA">  <!-- constrained to: "(%ULStyle|%OLStyle)" -->

<!ELEMENT LI %flow;>  <!-- list item -->
<!ATTLIST LI
        type    %LIStyle;     #IMPLIED
        value    %Number;      #IMPLIED
        >

<!--================ Forms ===============================================-->

<!ELEMENT FORM (%body.content;)*>
<!ATTLIST FORM
        action %URL; #IMPLIED
        method (%HTTP-Method;) #IMPLIED 
        enctype %Content-Type; #IMPLIED 
        >

<!ENTITY % InputType
        "(TEXT | PASSWORD | CHECKBOX | RADIO | SUBMIT
            | RESET | FILE | HIDDEN | IMAGE)">

<!ELEMENT INPUT EMPTY>
<!ATTLIST INPUT
        type %InputType; #IMPLIED
        name  CDATA   #IMPLIED
        value CDATA   #IMPLIED   
        checked (checked) #IMPLIED 
        size CDATA    #IMPLIED   
        maxlength %Number; #IMPLIED 
        src   %URL;    #IMPLIED   
        align %IAlign; #IMPLIED   
        >

<!ELEMENT SELECT (OPTION+)>
<!ATTLIST SELECT
        name CDATA #REQUIRED
        size %Number; #IMPLIED
        multiple (multiple) #IMPLIED
        >

<!ELEMENT OPTION (#PCDATA)*>
<!ATTLIST OPTION
        selected (selected) #IMPLIED
        value  CDATA  #IMPLIED 
        >

<!-- Multi-line text input field. -->

<!ELEMENT TEXTAREA (#PCDATA)*>
<!ATTLIST TEXTAREA
        name CDATA #REQUIRED
        rows %Number; #REQUIRED
        cols %Number; #REQUIRED
        >

<!--======================= Tables ========================================-->

<!-- Widely deployed subset of the full table standard, see RFC 1942
     e.g. at http://www.ics.uci.edu/pub/ietf/html/rfc1942.txt -->

<!-- horizontal placement of table relative to window -->
<!ENTITY % Where "(left|center|right)">

<!-- horizontal alignment attributes for cell contents -->
<!ENTITY % cell.halign
        "align  (left|center|right) #IMPLIED"
        >

<!-- vertical alignment attributes for cell contents -->
<!ENTITY % cell.valign
        "valign  (top|middle|bottom)  #IMPLIED"
        >

<!ELEMENT TABLE (caption?, tr+)>
<!ELEMENT tr (th|td)*>
<!ELEMENT th (%body.content;)*>
<!ELEMENT td (%body.content;)*>

<!ATTLIST table                 
        align     %Where;   #IMPLIED  
        width     %Length;   #IMPLIED  
        border    %Pixels;   #IMPLIED  
        cellspacing %Pixels; #IMPLIED  
        cellpadding %Pixels; #IMPLIED  
        >

<!ELEMENT CAPTION (%text;)*>  <!-- table or figure caption -->
<!ATTLIST CAPTION
        align (top|bottom) #IMPLIED
        >

<!ATTLIST tr                    
        %cell.halign;           
        %cell.valign;           
        >

<!ENTITY % tdth-attrs "
        nowrap (nowrap)  #IMPLIED  
        rowspan %Number; '1'
        colspan %Number; '1'      
        %cell.halign;              
        %cell.valign;              
        width   %Pixels;  #IMPLIED  
        height  %Pixels;  #IMPLIED  
        ">

<!ATTLIST th %tdth-attrs;>
<!ATTLIST td %tdth-attrs;>

<!--================ Document Head ========================================-->

<!-- %head.misc defined earlier on as "SCRIPT|STYLE|META|LINK" -->

<!ENTITY % head.content "TITLE,ISINDEX?,BASE?">

<!ELEMENT HEAD (%head.content;,%head.misc;)>

<!ELEMENT TITLE (#PCDATA)*>
          <!-- The TITLE element is not considered part of the flow of text.
             It should be displayed, for example as the page header or
             window title.
          -->

<!ELEMENT ISINDEX EMPTY>
<!ATTLIST ISINDEX
        prompt CDATA #IMPLIED>  <!-- prompt message -->

<!--
    The BASE element gives an absolute URL for dereferencing relative
    URLs, e.g.

         <BASE href="http://foo.com/index.html">
         ...
         <IMG SRC="images/bar.gif">

    The image is deferenced to

         http://foo.com/images/bar.gif

   In the absence of a BASE element the document URL should be used.
   Note that this is not necessarily the same as the URL used to
   request the document, as the base URL may be overridden by an HTTP
   header accompanying the document.
-->

<!ELEMENT BASE EMPTY>
<!ATTLIST BASE
        href %URL;  #REQUIRED
        >

<!ELEMENT META EMPTY>  <!-- Generic Metainformation -->
<!ATTLIST META
        http-equiv  NMTOKEN    #IMPLIED 
        name        NMTOKEN    #IMPLIED 
        content     CDATA   #REQUIRED 
        >

<!-- SCRIPT/STYLE are place holders for transition to next version of HTML -->

<!ELEMENT STYLE  (#PCDATA)>  <!-- placeholder for style info -->
<!ELEMENT SCRIPT (#PCDATA)>  <!-- placeholder for script statements -->

<!--================ Document Structure ===================================-->

<!ENTITY % html.content "(HEAD, BODY)">

<!ELEMENT HTML (%html.content;)>

<!-- Additions by Hannes Marais -->

<!ELEMENT FRAME EMPTY>
<!ATTLIST FRAME
  src         %URL;       #IMPLIED
>