smooks-cartridges/javabean/src/main/resources/META-INF/xsd/smooks/dmb-1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
           xmlns:smooks-dmb="https://www.smooks.org/xsd/smooks/dmb-1.5.xsd"
           targetNamespace="https://www.smooks.org/xsd/smooks/dmb-1.5.xsd"
           elementFormDefault="qualified">

    <xs:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Dynamic Model Builder (DMB) serialization.</xs:documentation>
    </xs:annotation>

    <xs:element name="writer" substitutionGroup="smooks:abstract-resource-config" type="smooks-dmb:writer">
    	<xs:annotation>
			<xs:documentation xml:lang="en">Writer config.</xs:documentation>
		</xs:annotation>
    </xs:element>

	<xs:complexType name="writer">
   		<xs:complexContent>
   			<xs:extension base="smooks:element-visitor">
   				<xs:sequence>
                    <xs:element ref="smooks:param" minOccurs="0" maxOccurs="unbounded" />
   				</xs:sequence>
   				<xs:attribute name="beanId" type="xs:string" use="optional">
   					<xs:annotation>
   						<xs:documentation xml:lang="en">The beanId of the bean with which this writer is associated.</xs:documentation>
   					</xs:annotation>
   				</xs:attribute>
                   <xs:attribute name="beanClass" type="xs:string" use="optional">
                       <xs:annotation>
                           <xs:documentation xml:lang="en">The bean class with which this writer is associated.</xs:documentation>
                       </xs:annotation>
                   </xs:attribute>
   				<xs:attribute name="class" type="xs:string" use="required">
   					<xs:annotation>
                        <xs:documentation xml:lang="en">The BeanWriter class name.</xs:documentation>
   					</xs:annotation>
                </xs:attribute>
   			</xs:extension>
   		</xs:complexContent>
   	</xs:complexType>

</xs:schema>