smooks-cartridges/javabean/src/test/java/org/milyn/javabean/dynamic/aaa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:aaa="http://www.acme.com/xsd/aaa.xsd"
           targetNamespace="http://www.acme.com/xsd/aaa.xsd"
           elementFormDefault="qualified">

    <xs:element name="aaa" >
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="value" type="aaa:value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="value">
        <xs:attribute name="property1" type="xs:double" />
        <xs:attribute name="property2" type="xs:int" />
    </xs:complexType>
    
</xs:schema>